body {
    margin-top: 20px;
    background: #f8f8f8;
    font-family: "Roboto Slab", serif;
}

h1 {
    text-align: center;
    margin: 40px 15px;
    color: #3F497F;
}

.todo-nav {
    margin-top: 10px;
    font-size: 18px;
}

.todo-list {
    margin: 10px 0;
}

.todo-list .todo-item {
    padding: 13px;
    margin: 5px 0;
    border-radius: 0;
    background: #f7f7f7;
}

.task {
    font-size: 18px;
}

.card {
    padding: 25px;
    margin-bottom: 20px;
    border: initial;
    background: #fff;
    border-radius: calc(.15rem - 1px);
    box-shadow: 0 1px 15px rgba(0,0,0,0.04), 0 1px 6px rgba(0,0,0,0.04);
}

@media only screen and (max-width: 600px) {
    h1 {
        margin: 50px 10px;
        font-size: 28px;
    }
    .task {
        font-size: 16px;
        padding-left: 15px;
    }
    .todo-list .todo-item {
        padding: 8px;
        margin: 5px 0;
    }
    .card {
        padding: 10px;
    }
}